<script>
    $(document).ready(function() {
        let maintanance = new Maintanance();
        maintanance.registerEvents("#maintanance-container"); 
    });
</script>
<div id="maintanance-container">
    <!-- <nav id="maintanance-navbar" class="navbar-expand-lg navbar-light maintanance-navbar">
        <div class="navbar">
          <ul class="navbar-nav mr-auto ml-auto">
            <li class="nav-item active">
              <a class="nav-link" name="payments-container" href="javascript:;">Maintanance Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="javascript:;">Unpaid Members</a>
            </li>
          </ul>
        </div>
    </nav> -->

    <div id="payments-container" class="payments-container container-fluid">
        <div class="maintanance-report">
          <div class="row">
            <div class="col-6">
              <div class="maintanance-stats">
                <p class="stats-value">Rs. <%= totalMaintanance %></p>
                <p class="stats-label">Total Maintanance</p>
              </div>
              <div class="maintanance-stats">
                <p class="stats-value">Rs. <%= totalExpense %></p> 
                <p class="stats-label">Total Expense</p>
              </div>
            </div>
            <div class="col-6">
              <div class="maintanance-stats">
                <p class="stats-value"><%= countOfPaid %> flats</p>
                <p class="stats-label">Paid </p>
              </div>
              <div class="maintanance-stats">
                <p class="stats-value"><%= yetToPay %> flats</p> 
                <p class="stats-label">Yet to pay </p>
              </div> 
            </div>
          </div>
        </div>

        <div class="maintanance-period-select apt-dd center">
            <%- include("../partials/month-year") -%>
        </div>
        <div parent="#payments-container" target=".monthly-payment" id="payment-search" class="input-group form-group dom-search maintanance-search">
          <input type="text" name="searchInput" class="form-control" placeholder="Search Paid / Yet to Pay">
          <div class="input-group-append">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
          </div>
        </div>

        <table class="table apt-table center">
          <thead class="table-head">
            <tr>
              <th scope="col">Flat</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
              <th scope="col">Status</th>
            </tr>
          </thead>
          <tbody>

            <%
            function getDateStr(date)
            {
                let month = date.toLocaleString('default', { month: 'long' });
                const dateStr = month + " " + date.getDate();
                return dateStr;
            }
          %>
      
            <%
              if(flats.length > 0) {
                flats.forEach((flat) => { %>
                <tr class="monthly-payment">
                  <td><%= flat.flat_id %></td>
                  <% 
                    let payment = flat.payment; 
                    if(payment.length > 0) { %>
                      <td><%= getDateStr(payment[0].date) %></td>
                      <td>Rs.<%= payment[0].amount%></td>
                      <td><i class="fas fa-check green"></i><span class="hide">paid</span></td>
                   <% } else { %>
                    <td>-</td>
                    <td>-</td>
                    <td><i class="fas fa-hourglass-half red"></i><span class="hide">yet to pay</span></td>
                  <% }
                  %>
                </tr>
              <% }); 
                } 
                else { %>
                  <td colspan="4">
                    <div class="no-transactions">
                      <img src="/images/no-transactions.png" alt="no-transactions">
                    </div>
                    No records found for this month.
                  </td>
                <% } %>
          </tbody>
        </table>
      </div>
</div>

<%- include("../partials/loading") -%>
