<div class="contacts-container">
  <div class="row contact center">
    <% contacts.forEach(function(category) { %>
      <% if(category.title == "President" || category.title == "Treasurer" || category.title == "Secretary") { %>
          <% category.members.forEach(function(member) { %>
          <div class="col-4 contact-col">
            <h3><%= category.title %></h3>
            <img class="contact-pic" src="images/profile.jpg" alt="contact-pic">
            <h5><%= member.name %></h5>
            <p><%= member.contact %></p>
          </div>
      <% }); } %>
    <% }); %>
  </div>

  <% contacts.forEach(function(category) {%>
    <% if(category.title != "President" && category.title != "Treasurer" && category.title != "Secretary") { %>
    <h3><%= category.title %></h3>
    <% category.members.forEach(function(member) { %>
      <div class="row contact">
        <div class="col-3">
          <img class="contact-pic" src="images/profile.jpg" alt="contact-pic">
        </div>
        <div class="col-6 contact-col">
          <h5><%= member.name %></h5>
          <p><%= member.contact %></p>
        </div>
      </div>
    <% }); %>
  <% }}); %>
</div>
