<script>
  $(document).ready(function() {
    var forum = new Forum();
    forum.registerForumsEvents($("#forums-container"));
  });
</script>
<div id="forums-container" class="forums-container container-fluid">
  <div id="compose" class="post center">
    <i class="fas fa-plus-circle"></i>
    <span>Post a new forum</span>
  </div>
  <% forums.forEach(function(forum) { %>
    <div name="post" class="post" forum_id="<%= forum._id %>">
      <div class="row">
        <div class="image-sec col-2 center">
          <img class="post-pro-pic" src="/uploads/<%= forum.photo %>" alt="profile-pic">
        </div>
        <div class="post-sec col-8">
          <h5><%= forum.title %></h5>
          <div class="content-short">
            <%- forum.content %>
          </div>
        </div>
        <div class="comments-sec col-2">
          <div class="likes">
            <i class="far fa-thumbs-up"></i><span><%= forum.likes.length %></span>
          </div>
          <div class="comments">
            <i class="far fa-comment-alt"></i><span><%= forum.comments.length %></span>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
</div>
<%- include("partials/loading") -%>
