<div class="profile-container container-fluid">
  <div id="maintanance" class="maintanance-container container-fluid">
  </div>
  <div class="row">
    <div class="col-3">
      <% let imagePath = "/uploads/" + photo; %>
      <img class="profile-pic" src=<%= imagePath %> alt="profile-pic">
    </div>
    <div class="col-9">
      <div class="profile-desc container-fluid">
        <h4><%=name%></h4>
        <p><%=flat_id%></p>
      </div>
    </div>
  </div>
  <div class="profile-details">
    <div class="row profile-detail">
      <div class="col-4 profile-label">Phone</div>
      <div class="col-8 profile-value"><%=phone%></div>
    </div>
    <div class="row profile-detail">
      <div class="col-4 profile-label">Email</div>
      <div class="col-8 profile-value"><%=email%></div>
    </div>
    <div class="row profile-detail">
      <div class="col-4 profile-label">Vehicles</div>
      <div class="col-8 profile-value">2 wheeler : <%=vehicles.bike %>, 4 wheeler : <%=vehicles.car%> </div>
    </div>
    <div class="row profile-detail">
      <div class="col-4 profile-label">No.of family members</div>
      <div class="col-8 profile-value"><%=family %></div>
    </div>
  </div>
</div>
<%- include("partials/loading") -%>
