<script>
  $(document).ready(function()
  {
    var forum = new Forum();
    forum.registerForumEvents($("#forum-container"));
  });
</script>
<div id="forum-container" forum_id="<%= _id %>" class="forum-container container-fluid">
  <i id="go-back" class="more-options fas fa-arrow-left ml-4"></i>

  <% let flag = (user_id == author_id) ? "" : "hide"; %>
  <i id="more-options" class="more-options fas fa-ellipsis-h <%= flag %>"></i>
  <div class="dropdown">
    <div id="more-options-menu" class="dropdown-menu more-options-menu">
      <a id="edit-forum" class="dropdown-item" href="">Edit</a>
      <a id="delete-forum" class="dropdown-item" href="">Delete</a>
    </div>
  </div>
  <%
    function getDateStr(date)
    {
       const months = [
            "January", "February", "March", "April", "May", "June", "July",
            "August", "September", "October", "November", "December"];

        const dateStr = months[date.getMonth()] + " " + date.getDate()+ ", " + date.getFullYear();
        return dateStr;

    }

    function getTimeStr(date)
    {
       const timeStr = date.toLocaleString("en-US", { hour: "numeric", minute: "numeric", hour12: true });
       return timeStr;
    }
  %>
  <div class="forum-header">
    <div class="row">
      <div class="col-lg-2 col-sm-4 center">
        <% let imagePath = "/uploads/" + photo; %>
        <img class="post-pro-pic forum-pic" src="<%= imagePath %>" alt="profile-pic">
        <p class="forum-author"><%= author %></p>
      </div>
      <div class="col-lg-10 col-sm-8">
        <h1 class="forum-title"><%=title %></h1>
        <p class="forum-date">
          <%= getDateStr(date) + "  " + getTimeStr(date) %>
        </p>
      </div>
    </div>
  </div>

  <div class="forum-body">
    <%- content %>
  </div>

  <div class="forum-response">
    <span class="like-button">
      <% let active = (likes.indexOf(user_id) > -1) ? "" : "hide";
      let inactive = (likes.indexOf(user_id) > -1) ? "hide" : ""; %>

      <i class="fas fa-thumbs-up <%= active %> like-solid-icon"></i>
      <i class="far fa-thumbs-up <%= inactive %> like-icon"></i>
      Like
    </span>
    <span class="comment-button"><i class="far fa-comment-alt comment-icon"></i>Comment</span>
  </div>

  <div id="forum-comments" class="forum-comments">

    <% comments.forEach(function(comment) {%>
      <div class="row comment">
        <div class="col-2">
          <% let imagePath = "/uploads/" + comment.photo; %>
          <img class="comment-pro-pic" src="<%= imagePath %>" alt="profile-pic">
        </div>
        <div class="comment-body col-10" id="<%= comment._id%>">
          <p class="comment-user"><%= comment.author%></p>
          <% let d = comment.date %>
          <span class="forum-date">
            <%= getDateStr(comment.date) + "  " + getTimeStr(comment.date) %>
          </span>
          <p class="comment-content"><%= comment.content%></p>
          <% let dflag = (user_id == comment.author_id) ? "" : "hide"; %>
          <i id="delete-comment"
            class="delete-comment-icon fas fa-trash-alt <%= dflag %>">
          </i>
        </div>
      </div>
    <% }) %>

    <div id="new-comment" class="row comment hide">
      <div class="col-2">
        <img class="comment-pro-pic" src="/images/blank-profile.png" alt="profile-pic">
      </div>
      <div class="comment-body col-10">
        <textarea class="comment-input" name="content" placeholder="Enter your comment..."></textarea>
        <i id="post-comment" class="post-comment-icon fas fa-paper-plane"></i>
      </div>
    </div>
  </div>

</div>
<%- include("../partials/alert-popup") -%>
<%- include("../partials/loading") -%>
